<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="{{author}}">
    <meta name="description" content="{{description}}">

    <title>{{title}}</title>

    <link rel="canonical" href="{{&url}}">
    <link href="{{&atomUrl}}" type="application/atom+xml" rel="alternate" title="ATOM Feed" />
    {{> head}}
</head>
<body class="post">
    {{> header}}

    <div class="sectionHeader">
        <h1 class="postTitle">{{title}}</h1>
        <div class="datetime" data-datetime="{{postIsoDate}}">{{postDateString}}</div>
    </div>

    <div class="sectionContent">
        {{&htmlContent}}

        {{#headers.comments}}
        <div class="separator">~</div>
        <a href="{{&headers.comments}}">View Comments</a>
        {{/headers.comments}}
    </div>


</body>
</html>
