* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: Georgia,serif;
    color: black;
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: verdana,sans-serif;
    font-weight: normal;
    text-transform: lowercase;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #090909;
}

.sectionContent h1,
.sectionContent h2,
.sectionContent h3,
.sectionContent h4,
.sectionContent h5,
.sectionContent h6 {
    margin-left: -1em;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
    color: darkblue;
}

.header {
    position: relative;
    padding: 2em 0.2em;
    background-color: #090909;
    color: white;
}

.header h1 {
    margin: 0 0 0 1em;
    color: white;
    background-color: #090909;
}

h1 a {
    color: white;
}

.header .nav {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    text-align: right;
    font-size: smaller;
}

.header .nav a {
    display: block;
}

.sectionHeader {
    position: relative;
    padding: 1.2em 0;
    background-color: #696969;
    font-family: verdana,sans-serif;
}

.sectionHeader h1 {
    margin: 0 1em 0 1.8em;
    color: white;
    text-shadow: 0 1px #090909;
}

.sectionHeader .datetime {
    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
    color: #a8a8a8;
    font-size: smaller;
}

.sectionContent {
    margin: 2em 5.2em;
}

.summary {
    margin: 2em 0 0 0;
}

.summary h2,
.summary .datetime {
    display: inline;
}

.summary h2 a {
    color: blue;
}

.summary .datetime {
    color: gray;
    font-size: smaller;
}

.separator {
    margin: 0 0 1em 0;
    color: gray;
}

.endmark {
    width: 1em;
    color: #696969;
    margin: 2em auto;
    font-family: verdana,sans-serif;
    font-weight: normal;
    font-size: x-large;
}

/* media queries */

@media (max-width: 480px) {

    .header h1 {
        margin: 0 0 0 0.2em;
    }

    .sectionHeader h1 {
        margin: 0 0.2em;
    }

    .extendedTitle {
        display: none;
    }

.sectionContent h1,
.sectionContent h2,
.sectionContent h3,
.sectionContent h4,
.sectionContent h5,
.sectionContent h6 {
    margin-left: 0;
}

    .sectionContent {
        margin: 0 0.5em;
    }
}

/* START PRISM */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code,
pre {
    color: black;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre) > code,
pre {
    background: #f5f2f0;
}

/* Inline code */
:not(pre) > code {
    padding: .1em;
    border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number {
    color: #905;
}

.token.selector,
.token.attr-name,
.token.string {
    color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #a67f59;
    background: hsla(0,0%,100%,.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a;
}


.token.regex,
.token.important {
    color: #e90;
}

.token.important {
    font-weight: bold;
}

.token.entity {
    cursor: help;
}
/* END PRISM */
