<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href="{{&atomUrl}}" type="application/atom+xml" rel="alternate" title="ATOM Feed" />
</head>
<body class="index">
    <div class="header">
        <h1><a href="./">{{title}}</a></h1>
        <div class="nav">
            <a href="./about/">about</a>
            <a href="./archives/">archives</a>
            <a href="./tags/">tags</a>
            <a href="#">search</a>
        </div>
    </div>

    {{#published}}

        <h1 class="postTitle"><a href="{{&path}}/">{{title}}</a></h1>
        <div class="datetime" data-datetime="{{postIsoDate}}">{{postIsoDate}}</div>

        {{&htmlContent}}

    {{/published}}
</body>
</html>
