<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href="{{&atomUrl}}" type="application/atom+xml" rel="alternate" title="ATOM Feed" />
    {{> head}}
</head>
<body class="index">
    {{> header}}

    {{#published}}
    <div class="postSection">
        <div class="postHeader">
            <h2 class="postTitle"><a href="{{&path}}/">{{title}}</a></h2>
            <div class="datetime" data-datetime="{{postIsoDate}}">
                {{postDateString}}
            </div>
        </div>
        <div class="postContent">
            {{&htmlContent}}
        </div>
    </div>
    {{/published}}
</body>
</html>
